.run/*
.cache*
.classpath
.project
.worksheet/
.settings

out.log
test.sc
Test.sc
postgresql.json

project/project/*
project/target/*
src/main/target
target/
project/eclipse.sbt

.idea
.mp
LOG
*.LOG


.DS_STORE
.run/*
.venv

